
<div class="cont-form-login">
<form id="form-login" action="/login" method="post" >
  
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control inp-email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  
  
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  
  
  <button type="submit" class="btn btn-subm btn-primary">Sign in</button>
</form>

<b>¿No estas registrado? Haz click <a href="/register">aqui</a> para registrarte</b>

</div>

<script src="/static/js/login.js"></script>