*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eaeaea;
}


.anchor_carrito{
    margin: 0;
}

.cont-logo{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%;
}

.cont-logo img{
    height: 100%;
}

.cont-input{
    width: 50%;
}

.input-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.input-producto input{
    padding: 1% 25% 2% 5%;
    border-radius: 8px;
    border: none;
    margin-right: 1vw;
    background-color: #cecece;
}

.input-producto img{
    width: 5%;
}

.cont-avatar{
    display: flex;
    justify-content: start;
    padding-left: 5%;
    align-items: center;
    width: 20%;
}

.cont-avatar img{
    width: 2vw;
    margin: 0vw;
}

/* avatar */

.cont-perfil-avatar{
    width: 40px;
    height: 40px;
}

.cont-perfil-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.options-perfil{
    margin-left: 5px;
}

/* /avatar */

.cont-avatar a{
    margin: 1vw;
}

.cont-nav{
    height: 15vh;
    background-color: rgb(120, 183, 241);
    width: 100%;
    display: flex;
}

.cont-navegacion{
    height: 50%;
    display: flex;
    align-items: center;
}

.cont-navegacion nav{
    width: 100%;
}

.cont-navegacion nav ul{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.cont-navegacion nav ul li{
    list-style: none;
}

.cont-navegacion nav ul li a{
    text-decoration: none;
    color: #000;
}

.cont-img-main{
    width: 100%;
}

.cont-img-main img{
    width: 100%;
    object-fit: contain;
}

/* 568CBD */

.betweenheader{
    width: 100%;
    background-color: #474747;
    height: 50px;
    /* border: 2px solid; */
    display: flex;
}

.first-between{
    width: 25%;
}

.second-between{
    width: 50%;
}

.second-between ul{
    display: flex;
    height:100% ;
    justify-content: space-between;
    align-items: center;
}

.second-between ul li{
    list-style: none;
    color: #dbdbdb;
    font-weight: 400;
}

.second-between ul li a{
    text-decoration: none;
    color: #dbdbdb;
}

.third-between{
    width: 25%;
}